<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>QA</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
            [v-cloak] {
                display: none;
            }

            * {
                margin: 0;
                padding: 0;
            }

            h3 {
                font-size: 28px;
                color: #FF9800;
                padding-top: 12px;
                text-align: left;
            }

            .hand {
                cursor: pointer
            }

            #left {
                width: 10%;
            }

            #right {
                width: 10%;
            }

            .my_carousel {
                border-left: 100px solid white;
                border-right: 100px solid white;
                padding: 60px;
            }
        </style>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="https://demo.testbirds.com/fileadmin/user_upload/QA.png" style="width: 58px;">
                </div>
                <u class="nav navbar-nav">
                    <li class="active"><a href="/">Take tests</a></li>
                </u>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">
                        <span class="glyphicon  glyphicon-user"></span>
                        {{ request.user.username }}</a>
                    </li>
                    <li>
                        <a href="/logout/">
                            <span class="glyphicon glyphicon-log-in"></span>
                            logout
                        </a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li><a href="/admin/"><span class="glyphicon  glyphicon-settings"></span>Access admin</a></li>
                        <li><a href="/download/"><span class="glyphicon glyphicon-download"></span> Download Tests XL(admin)</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block content %}

        {% endblock %}

    </body>

</html>