{% extends 'base.html' %}

{% block content %}
    {% verbatim %}
        <form id="main" v-cloak style="padding-left: 20%;text-align: center;padding-right: 20%;">

            <h1 id="logo">Available Tests</h1>
            <div id="wrapper">
                <div id="first">

                    <ul class="list-group">
                          <li v-for="test in tests" class="hand list-group-item" v-on:click="handleCollectionSelection(test)">
                             {{test.description}} | {{ test.questions.length }} Questions
                          </li>
                     </ul>


                </div>
            </div>
        </form>

    {% endverbatim %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
    <script>
        // Not moving code to a JS file, just to make deployment easier.
        // But it is always a good idea to have it in other JS file (lack fot time).
        var demo = new Vue({
            el: '#main',
            created: function() {
                this.init();
            },
            data: {
                tests: [],
            },
            methods: {
                init: function() {
                    // Function to initiate the initial flow
                    var initURL = window.location.protocol + "//" + window.location.host + '/api/test/'
                    axios.get(initURL).then((response) => {
                        this.tests = response.data
                    })
                },
                handleCollectionSelection: function(test) {
                    // Handler to handle test selection
                    window.location.href = window.location.protocol + "//" + window.location.host + "/test_attempt/" + test.id + '/'
                }
            }
        });
    </script>
{% endblock %}