{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<h4 id="main" >

    <div id="wrapper" style="padding: 100px;">

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>

    </div>
</h4>

</form>

{% endblock %}