{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


<h4 id="main" >

        <div id="wrapper" style="padding: 100px;">
            <h4 id="main" >Logged out successfully</h4>
            <a href="/login/">Login again</a>
        </div>
</h4>

{% endblock %}