{% extends 'base.html' %}


{% block content %}
    {% verbatim %}

    <form id="main" v-cloak>


        <div class="container">
            <h2 class="text-center">{{ test.description }} ({{ questions.length }} questions)</h2>
            <div id="myCarousel" data-interval="false" data-wrap="false" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div v-for="(question, index) in questions"
                         v-bind:class="{'item':true, 'my_carousel':true, 'active':(index == 0)}">

                        <h3 class="">({{ index+1}}/{{ questions.length }}) {{ question.question }}</h3>

                        <div v-for="(answer, j_index) in question.answers "
                             v-on:click="handleSelection(question, answer)"
                             class="list-group">
                            <a href="#" v-bind:class="{'list-group-item':true, 'active': answer.active}">
                                {{ j_index }}: {{ answer.ans }}
                            </a>
                        </div>
                    </div>

                    <div class="item my_carousel" style="height:100%">
                        <h3 class="text-center">
                            Test Results:
                            <button type="button" v-on:click="computeResult(test.id)" class="btn btn-default">
                                Finish test and access results
                            </button>
                        </h3>
                        <div>
                            <div>
                                <h4 v-show="!test_progress">Result Breakdown</h4>
                                <ul class="list-group">
                                    <li v-for="result in results"
                                        v-bind:class="{'list-group-item':true, 'list-group-item-success': (result.result == 'PASSED'), 'list-group-item-danger': (result.result != 'PASSED')}">
                                        {{ result.question }}
                                        <span class="badge">{{ result.result }}</span>
                                    </li>
                                </ul>
                                <h2 v-show="!test_progress">Score: {{ result_bd.score }} %</h2>
                                <div v-show="!test_progress">
                                    <highcharts :options="chartOptions"></highcharts>
                                </div>
                            </div>


                        </div>

                    </div>


                </div>

                <!-- Left and right controls -->
                <a v-show="test_progress" id="left" style="background-color: black; height:55px"
                   class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <!--span class="glyphicon glyphicon-chevron-left"></span-->
                    <h4>Previous question</h4>
                    <span class="sr-only">Previous</span>
                </a>
                <a v-show="test_progress" id="right" style="background-color: black; height:55px"
                   class="right carousel-control" href="#myCarousel" data-slide="next">
                    <!--span class="glyphicon glyphicon-chevron-right"></span-->
                    <h4>Next question</h4>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


    </form>


    {% endverbatim %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript"
            src="https://cdn.rawgit.com/highcharts/highcharts-vue/1ce7e656/dist/script-tag/highcharts-vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
    <script>
        // Not moving code to a JS file, just to make deployment easier.
        // But it is always a good idea to have it in other file.

        Vue.use(HighchartsVue.default)


        var demo = new Vue({
            el: '#main',
            created: function () {
                this.init();
            },
            data: {
                test: {
                    'description': 'loading...'
                },
                questions: [],
                results: [],
                result_bd: [],
                test_progress: true,
                pie_results: [['PASSED', 1], ['FAILED', 1]],
                title: {
                    text: 'Passed/Failure ratio'
                },
                chartOptions: {
                    chart: {
                        type: 'pie'
                    },
                    series: [{
                            data: [['PASSED', 1], ['FAILED', 1]]
                    }]
                }
            },
            methods: {
                init: function () {
                    // Function to initiate the initial flow
                    var initURL = window.location.protocol +
                        "//" + window.location.host +
                        '/api/test/{{test_id}}/'

                    axios.get(initURL).then((response) => {
                        this.test = response.data

                        /* Create copy of data with additional information
                           to handle the state in HTML page using vuejs
                         */
                        response.data.questions.forEach(function (question) {
                            var quest = {
                                'question': question.question,
                                'answers': []
                            }
                            question.answers.forEach(function (answer) {
                                quest.answers.push({
                                    'ans': answer.answer,
                                    'active': false
                                })
                            })
                            this.questions.push(quest)
                        }, this)
                    })
                },
                handleSelection: function (question, answer) {
                    // Handles the answer selection window
                    for (i = 0; i < question.answers.length; i++) {
                        question.answers[i].active = false;
                    }

                    // select the only one answer
                    answer.active = true;
                },
                computeResult: function (testId) {
                    // Disable test in progress
                    this.test_progress = false;

                    // Get result validation url
                    resultUrl = window.location.protocol + "//" + window.location.host + '/test_result/'

                    // Validate the result
                    axios.post(resultUrl, {
                        'qa': JSON.stringify(this.questions),
                        'test_id': testId
                    }).then((response) => {
                        this.results = response.data.result
                        this.result_bd = response.data.result_bd
                        console.log(this.results)

                        // Render charts
                        this.chartOptions['series'] = [{
                            data: this.result_bd.result_graph
                        }]

                    });

                }
            }
        });
    </script>
{% endblock %}